 body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 50px;
}
h3{
    font-weight: 700;
}
.orange-color{
    color: orange;
}
.flexible-container{
    display: flex;
    margin-bottom: 100px;
}
.half-width{
    width: 60%;
    padding-left: 15px;
    padding-right: 5px;
    margin-right: 5px; 
    margin-left: 5px;

}
.half-width img{
    width: 500px;
    height: 600px;
    padding-left: 5%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 12px 40px;
    color: white;
    font-weight: 500;
    border-radius: 15px;
}
.ground-banner{
    background-image: url(kudukudu.png);
    background-repeat: no-repeat;
    background-position-x: right;
    background-position: left;
}
.high-center{
    text-align: center;
}
.recipie-title{
    width: 50%;
    margin-left: 4%;
    margin-right: 4%;
    padding-left: 50px;
    border-radius: 5px;
    box-shadow: 4px 4px 30px gray;
}
.my-fun{
    width: 50%;
    margin-left: 4%;
    margin-right: 4%;
    padding-left: 50px;
    font-weight: 700px;
    padding-left: 5%;
    padding-right: 5%;
}
.followers{
    border-radius: 10;
    box-shadow: 5px 5px 30px grey;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 2%;
    margin-bottom: 2%;
}
.last-line{
    background-color: black;
    text-align: center;
    color: white;
    padding-top: 1px;
    padding-bottom: 10%;
}
.gray-color{
    color: gray;
}
